<ng-include src="'views/header.html'"></ng-include>

<div class="cadrecentre">Nous contacter</div>
<br/>
<div class="col-sm-6">
	<strong class="text">Vous pouvez nous écrire à cette adresse :</strong>
	<div class="text">marie.magnien@epfedu.fr</div><br/>
	<div class="text">Ou alors :</div><br/>
	<div class="text">sylvain.desprez@epfedu.fr</div>
	<br/><br/>
	<strong class="text">Vous pouvez également nous téléphoner :</strong>
	<div class="text">01.23.45.67.89</div>
	<br/>
	<strong class="text">Venez nous faire un petit coucou !</strong>
	<div class="text">6 rue de la pataterie responsive<br/>
		92330 Angulargiess CSSDEX
	</div>
	</br>
</div>

<div class="col-sm-6">
	<strong class="text">Sinon, vous pouvez nous écrire directement avec ce formulaire :</strong>
	<br/><br/>
    <div class="text-center">
		<label>Adresse mail :</label>
		<input ng-model="Adresse" type="text" placeholder="Adresse">
		<br/><br/>
		<label>Votre message :</label>
		<br/>
		<textarea id="message" ng-model="Message" type="text" placeholder="Votre message"></textarea>
		<br/><br/>
		<button type="submit" class="btn-lg btn succes" ng-click="Envoyer()">Envoyer</button>
	</div>
	</br>
</div>

<div class="clearfix"></div>

<footer-display page="'contact'"></footer-display>