<ng-include src="'views/header.html'"></ng-include>

<div class="cadrecentre">Nous contacter</div>
<br/>
<div class="col-sm-6">
	<strong >Vous pouvez nous écrire à cette adresse :</strong>
	<div class="text-center">marie.magnien@epfedu.fr</br>
		<p>Ou alors :</p>
		<p>sylvain.desprez@epfedu.fr
	</div>
	<br/>
	<strong>Vous pouvez également nous téléphoner :</strong>
	<p class="text-center">01.23.45.67.89</p></br>
	<strong>Venez nous faire un petit coucou !</strong>
	<p class="text-center">6 rue de la pataterie responsive<br/>
		92330 Angulargiess CSSDEX
	</p>
	</br>
</div>

<div class="col-sm-6">
	<strong class="text-center">Sinon, vous pouvez nous écrire directement avec ce formulaire :</strong>
	<br/><br/>
    <div class="text-center">
		<label>Adresse mail :</label>
		<input ng-model="Adresse" type="text" placeholder="Adresse">
		<br/><br/>
		<label>Votre message :</label>
		<br/>
		<textarea id="message" ng-model="Message" type="text" placeholder="Votre message"></textarea>
		<br/><br/>
		<button type="submit" class="btn-lg btn succes" ng-click="Envoyer()">Envoyer</button>
	</div>
	</br>
</div>

<div class="clearfix"></div>

<footer-display page="'contact'"></footer-display>