<div class="row text-center">
  <p class="col-xs-2 pointeur" ng-click="$parent.trier($parent.rang)">Rang</p>
  <p class="col-xs-2 pointeur" ng-click="$parent.trier($parent.rang)">Nombre d'entrées</p>
  <p class="col-xs-2 pointeur | hidden-xs" ng-click="$parent.trier($parent.titre)">Titre</p>
  <p class="col-xs-3 pointeur | visible-xs" ng-click="$parent.trier($parent.titre)">Titre</p>
  <p class="col-xs-2 pointeur | hidden-xs" ng-click="$parent.trier($parent.realisateur)" ng-show="show">Réalisateur</p>
  <p class="col-xs-3 pointeur | visible-xs" ng-click="$parent.trier($parent.realisateur)" ng-show="show">Réalisateur</p>
  <p class="col-xs-2 pointeur | hidden-xs " ng-click="$parent.trier($parent.annee)">Année de sortie</p>
  <p class="col-xs-2">Infos</p>
</div>